@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Modak&display=swap');

.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


:root {
  --background: 238, 239, 255;
  --text-color: 86, 89, 120;
  --purple: 221, 186, 252;
  --yellow: 255, 230, 140;
  --peach: 255, 215, 181;
  --blue: 160, 165, 224;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(var(--background));
  margin: 0;
}

.menu{
  width: 100vw;
  display: flex;
  padding: 20px 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: none;
  pointer-events: all;
  z-index: 5;
}

@media  screen and (max-width: 500px) {
  header{
  padding: 10px 15px;
}
}

/* .wallet-adapter-button {
  background-color: pink !important;
} */

.wallet-adapter-button-trigger {
  background: linear-gradient(to bottom, rgba(var(--blue)), rgba(var(--text-color), 0.7)) !important;
  cursor: pointer !important;
  box-shadow: 1px 10px 21px -7px rgba(163,163,163,1) !important;
  transition: 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.wallet-adapter-button-trigger:hover {
  background: linear-gradient(to bottom, rgba(var(--blue)), rgba(var(--text-color), 0.6)) !important;
  transform: scale(1.05);
}




